<div class="container-fluid">
  <div class="row glance-row" ng-controller="github">
    <div class="col-md-4 glance-col">
      <div class="glance-box">
        <div class="clearfix glance-title-container">
          <div class="pull-right glance-title-number"> {{reposFromOrgList.length}} </div>
          <div class="glance-title"> Repositories: myName </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 glance-col">
      <div class="glance-box">
        <div class="clearfix glance-title-container">
          <div class="pull-right glance-title-number"> {{pullRequestsFromOrgList.length}} </div>
          <div class="glance-title"> Pull Requests: myName </div>
        </div>
        <div ng-repeat="pr in pullRequestsFromOrgList">
          <pull-request pr="pr"></pull-request>
        </div>
      </div>
    </div>

      <!-- <div class="col-md-4 glance-col">
        <div class="glance-box">
          <div class="glance-title">
            Jira issues: {{org.name}} <span class="pull-right glance-title-number">{{}}</span>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
