<!DOCTYPE html>
<html lang="en" ng-app="glanceApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- CSS -->
    <link href="vendors/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/glance.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div ng-view></div>

    <!-- JS -->
    <script src="vendors/js/jquery.min.js"></script>
    <script src="vendors/js/bootstrap.min.js"></script>
    <script src="vendors/js/angular.min.js"></script>
    <script src="vendors/js/angular-resource.min.js"></script>
    <script src="vendors/js/angular-route.min.js"></script>
    <script src="js/glance-app.js"></script>
    <script src="js/glance-controllers.js"></script>
    <script src="js/glance-directives.js"></script>
    <script src="js/glance-services.js"></script>
  </body>
</html>
